.custom-brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color:#fd5c63;
}

.custom-nav {
    font-size: 18px;
    color:#fd5c63;
}
.text-2 {
    font-size: 18px;
    font-weight: bold;
    color:#FFFFF0;
}
.text-1 {
    font-size: 60px;
    font-weight: bold;
    color:#FFFFF0;
}
